<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Overall</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rock</string>
		<key>tag</key>
		<string>rock</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pop</string>
		<key>tag</key>
		<string>pop</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blues</string>
		<key>tag</key>
		<string>blues</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Electronica</string>
		<key>tag</key>
		<string>electronica</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Indie</string>
		<key>tag</key>
		<string>indie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chillwave</string>
		<key>tag</key>
		<string>chillwave</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jazz</string>
		<key>tag</key>
		<string>jazz</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hip-Hop</string>
		<key>tag</key>
		<string>hip-hop</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Folk</string>
		<key>tag</key>
		<string>folk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Metal</string>
		<key>tag</key>
		<string>metal</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Reggae</string>
		<key>tag</key>
		<string>reggae</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Classical</string>
		<key>tag</key>
		<string>classical</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Soul</string>
		<key>tag</key>
		<string>soul</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Experimental</string>
		<key>tag</key>
		<string>experimental</string>
	</dict>
	<dict>
		<key>name</key>
		<string>House</string>
		<key>tag</key>
		<string>house</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dubstep</string>
		<key>tag</key>
		<string>dubstep</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Punk</string>
		<key>tag</key>
		<string>punk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Country</string>
		<key>tag</key>
		<string>country</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Synthpop</string>
		<key>tag</key>
		<string>Synthpop</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mashup</string>
		<key>tag</key>
		<string>mashup</string>
	</dict>
</array>
</plist>
